.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.accordion-list-item {
  position: relative;
  transition: all 500ms linear;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  background-color: #fff;
  display: none;
  padding: 20px;
  overflow: hidden;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel.active {
  display: block;
}

.modal-btn {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  /* width: 100%; */
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.modal-btn:hover {
  background-color: #ccc;
}

.modal {
  background-color: #fff;
  min-height: 200px;
  max-width: 400px;
  border-radius: 6px;
  padding: 40px;
}
